fastapi
pydantic
langchain
langchain-openai
langchain-community
langchain-core
uvicorn
pandas
numpy
matplotlib
scipy
requests
python-multipart
openai
python-dotenv
tiktoken
beautifulsoup4
lxml
html5lib
